*.suo
*.opendb
*.db
Build/Targets/x86-microsoft-win32-vs2015/BlueTune/Debug/
*.log
Build/Targets/x86-microsoft-win32-vs2015/BtController/Debug/
Build/Targets/x86-microsoft-win32-vs2015/BtMfcGui/Debug/
*.user
Build/Targets/x86-microsoft-win32-vs2015/BtPlay/Debug/
Build/Targets/x86-microsoft-win32-vs2015/BtPlayX/Debug/
Build/Targets/x86-microsoft-win32-vs2015/Debug/
Build/Targets/x86-microsoft-win32-vs2015/FLAC/Debug/
Build/Targets/x86-microsoft-win32-vs2015/Fluo/Debug/
Build/Targets/x86-microsoft-win32-vs2015/SampleFilterPlugin/Debug/
Build/Targets/x86-microsoft-win32-vs2015/Tremor/Debug/
Build/Targets/x86-microsoft-win32-vs2015/Win32SoundcardProbe/Debug/
*.xcscheme
*.xcscmblueprint
*.xcuserstate
xcschememanagement.plist
dgph
Build/Targets/universal-apple-macosx/build/BlueTune.build/Debug
Build/Targets/universal-apple-macosx/build
Build/Targets/arm-none-none/Debug
Build/Targets/arm-none-none/Release
.sconsign.dblite
Build/Targets/x86_64-unknown-linux/Debug
Build/Targets/x86_64-unknown-linux/Release
